<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div>
        <a href="/login">login</a>
        <h1>My Fav Websites</h1>
        <div>
            <a href="https://leetcode.com/u/chandra_23/">LeetCode</a>
            <a href="github.com/Edwardsoen/Leetcode-Premium-Unlocker">Github</a>
            <a href="https://www.youtube.com/">Youtube</a>
            <a href="https://chatgpt.com/auth/login">Chatgpt</a>
        </div>
    </div>
    <div>
        
        <h1> {{fname}}</h1>
        <h1>{{lname}}</h1>
    </div>
</body>
</html>